html, body {
    height:100%;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: lavender;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.calc {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color:#86c6be;
    border:solid black;
    height: 400px;
    width: 300px;
    border-radius:20px;
}

.screen {
    text-align: end;
    background-color: beige;
    margin-bottom: 5px;
    font-size: 50px;
    padding:5px;
    border-radius: 10px;
    height:60px;   
}

.cleaner {
    display: flex;
    justify-content: space-around;
}

.cleaner button {
    padding:10px;
    margin: 5px;
    flex-grow: 1;
}

.box {
    display:flex;
    flex-grow: 1;
    justify-content: space-between;
}

.number {
    flex-direction: column;
}
.number button {
    box-sizing: border-box;
    margin:5px;
    padding:10px;
    height:50px;
    width:50px;
    background-color: #f1ebec;
}

.row {
    align-items: center;
}

.operation {
    flex-direction: column;
    padding:7px 0px;
    align-items:end;
}

.operation button {
    height:50px;
    width:50px;
    margin:5px;
    border-radius: 10px;
    background-color: #f1ebec;
}

button:hover {
    filter:brightness(120%)
}

#clear {
    background-color: lightcoral;
}

#equal {
    background-color: #a6c64c;
}

#back {
    background-color: mediumpurple;
}